blueprints

secrets.*
secrets.yaml
*.token
ip_bans.yaml
known_devices.yaml

.storage/
.storage/*

!automations.yaml
!configuration.yaml
!groups.yaml
!scripts.yaml
!sensors.yaml
!ui-lovelace.yaml
!python_scripts/*
#!/www/
!.storage/lovelace
!automation/
!automation/*
!.HA_VERSION

node-red/*
node-red/.*
node-red/*_cred*
package-lock.json
node-red/package.json
!node_red/flows.json


.vscode
*.log
*.db

google_calendars.yaml